/* CSS declarations go here */
body {
	padding-top: 60px;
}

.thumbnail {
    height: 500px;
}

.thumbnail-img {
	max-height: 300px;
}

.thumbnail-desc {
	word-break: break-word;
}

.single-img {
	max-width: 100%;
}